{{define "title"}}
Change Password
{{end}}

{{define "main"}}
<form action="/user/password" method="post" class="form">
    <div class="form">
        <label for="oldPassword">Old password: </label>
        <input type="password" name="oldPassword" id="oldPassword" required
            hx-post="/user/password/check" hx-target="#error-wrong" hx-swap="outerHTML" hx-trigger="change, input delay:500ms"
            _="on htmx:afterRequest or load
            if the innerHTML of #error-wrong is ''
                send correct to #btn-submit
            else
                send wrong to #btn-submit"
        />
    </div>
    <div class="form">
        <label for="newPassword">New password: </label>
        <input type="password" name="newPassword" id="newPassword" required />
    </div>
    <div class="form">
        <label for="confirm">Confirm: </label>
        <input type="password" name="confirm" id="confirm" required
            _="on input or input from #newPassword
            if (my value is not '') and (the value of the #newPassword is my value)
                send matched to #btn-submit
                send matched to #error-not-matched
            else
                send notMatched to #btn-submit
                send notMatched to #error-not-matched"
        />
    </div>
    <div class="form">
        <input type="submit" value="Change" id="btn-submit" disabled
            _="on load
                if the innerHTML of #error-exists is not ''
                    set :exists to true
                else set :correct to false
                set :matched to false then add @disabled
            end
            on wrong add @disabled then set :correct to false end
            on notMatched add @disabled then set :matched to false end
            on correct set :correct to true then if :matched then remove @disabled end
            on matched set :matched to true then if :correct then remove @disabled"
        />
    </div>
</form>

<div id="error-wrong"></div>

<div id="error-not-matched"
    _="init hide me end
    on matched hide me end
    on notMatched show me"
>
    Passwords should match
</div>
{{end}}
