{{define "title"}}
Enable OTP
{{end}}

{{define "main"}}
<h>For manual enrollment use this information:</h>

<p>Service name: {{.Service}}</p>
<p>Username: {{.Username}}</p>
<p>Secret key: {{.Secret}}</p>
<img src="data:image/png;base64, {{.Image}}" alt="QR code for OTP enrollment"/>

<p>After enrollment, please enter the code below</p>

<form class="form">
    <div class="form">
        <label for="otpCode">OTP Code: </label>
        <input type="text" name="otpCode" id="otpCode" required autofocus>
    </div>
    <div class="form">
        <input type="submit" value="Send"
            hx-post="/user/otp/enable" hx-target="#errorInvalid" hx-swap="outerHTML"
            _="on click wait 100ms then set value of #otpCode to ''">
    </div>
</form>

<div id="errorInvalid"></div>
{{end}}
