{{define "title"}}
Metla
{{end}}

{{define "main"}}
<script src="/assets/js/third_party/maplibre-gl.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/third_party/maplibre-gl.css">

<div id="map" class="fullsize"></div>

<script>
    var map = new maplibregl.Map({
        container: 'map', // container id
        style: 'https://demotiles.maplibre.org/style.json', // style URL
        center: [0, 0], // starting position [lng, lat]
        zoom: 1 // starting zoom
    });
</script>
{{end}}
