{{define "title"}}
Login
{{end}}

{{define "main"}}
<form action="/login" method="post" class="form">
    <div class="form">
        <label for="username">Enter your username: </label>
        <input type="text" name="username" id="username" required>
    </div>
    <div class="form">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="form">
        <input type="submit" value="Login"
            hx-post="/login" hx-target="#error-invalid" hx-swap="outerHTML">
    </div>
</form>

<div id="error-invalid"></div>

<a href="/">Back home</a>
{{end}}
