{{define "title"}}
User
{{end}}

{{define "main"}}
<nav>
    <ul>
        {{if .IsAuthenticated}}
            <li>
                <a href="/user/password">Change password</a>
            </li>
            {{if .IsOTPEnabled}}
                <li>
                    <a href="/user/otp/disable">Disable OTP</a>
                </li>
            {{else}}
                <li>
                    <a href="/user/otp/enable">Enable OTP</a>
                </li>
            {{end}}
        {{end}}
    </ul>
</nav>
{{end}}
