:root {
    --color-btn: lavender;
    --color-btn-hover: lightsteelblue;
    --color-border: dimgray;
    --color-shadow: black;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 64px calc(100vh - 64px);
}

header {
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    align-self: stretch;

    border-style: solid;
    border-width: 2px;
    border-color: var(--color-border);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    align-self: stretch;
    overflow: auto;

    border-style: none solid solid solid;
    border-width: 2px;
    border-color: var(--color-border);
}

form {
    display: grid;
    align-self: center;
    margin: 0 auto;
    gap: 10px;
    max-width: 200px;

    label {
        margin-bottom: -8px;
    }
}

table {
    align-self: start;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    text-align: center;
}

button:not(.maplibregl-ctrl-zoom-in, .maplibregl-ctrl-zoom-out),
.button-like {
    border: solid;
    border-width: 2px;
    border-radius: 0;
    border-color: var(--color-border);
    box-shadow: 4px 4px 0 0 var(--color-shadow);
    background-color: var(--color-btn);
    padding: 5px;
}

button:hover,
.button-like:hover {
    background-color: var(--color-btn-hover);
}

button:active,
.button-like:active {
    box-shadow: 0 0 0 0 var(--color-shadow);
    transition: box-shadow 25ms;
}

textarea {
    resize: vertical;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.navbar-left-side {
    display: grid;
    align-items: center;
    margin: 0 auto 0 10px;
    padding: 0;
    gap: 10px;
}

.navbar-right-side {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin: 0 10px 0 auto;
    padding: 0;
    gap: 10px;
}

.otp-enable {
    display: grid;
    grid-row: 1 / span 1;
    align-items: center;
    justify-items: center;
    grid-auto-rows: min-content;
    overflow: auto;
}

.map-div {
    display: grid;
    position: relative;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;

    z-index: 1;
    overflow-y: hidden;

    #zoom {
        z-index: 2;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    #features {
        z-index: 2;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        width: 25%;
        overflow: auto;
        background: rgba(255, 255, 255, 0.2);
    }
}

.sidebar {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-column: 1 / span 1;

    border-style: none solid none none;
    border-width: 2px;
    border-color: var(--color-border);

    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-controls {
    display: grid;
    grid-auto-rows: min-content;
    grid-row: 1 / span 1;
    gap: 10px;
    padding: 5px;
    box-shadow: 0 4px 4px 0 var(--color-shadow);

    form {
        margin: 0;
        max-width: inherit;
    }
}

.sidebar-content {
    display: grid;
    grid-auto-rows: min-content;
    grid-row: 2 / span 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.event-card-small {
    padding: 10px;
    box-shadow: 0 4px 4px 0 var(--color-shadow);
    overflow: hidden;

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
        font-weight: normal;
    }

    h1, h2 {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    p {
        margin: 0;
    }
}

.event-card-small:hover {
    background-color: rgba(230, 230, 250, 0.5);
}

.event-card-small:active {
    box-shadow: 0 4px 4px 0 inset var(--color-shadow);
}

.event-card {
    padding: 10px;
    box-shadow: 0 4px 4px 0 inset var(--color-shadow);
    background-color: rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
        font-weight: normal;
    }

    h1, h2 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.time {
    font-size: 0.5em;
}

.map {
    grid-column: 2 / span 1;
}

.user-profile {
    display: grid;
    grid-auto-rows: min-content;

    ul {
        display: grid;
        padding: 0;
        gap: 24px;
    }
}

.server-response {
    align-self: center;
    justify-self: center;
    background-color: lavenderblush;
    border: 2px solid var(--color-border);
    padding: 4px;
    text-align: center;
}
