html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px calc(100vh - 64px - 30px);
    margin: 10px;
    padding: 0;
}

main {
    margin: 0;
    padding-top: 10px;
}

.form {
    form {
        display: table;
    }

    div {
        display: table-row;
    }

    label, input {
        display: table-cell;
        margin-bottom: 10px;
    }

    label {
        padding-right: 10px;
    }
}

.fullsize {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 32px;

    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    margin: 0;
    padding: 16px;
    border-style: none none solid none;

    @media screen and (max-width: 350px) {
        flex-direction: column;
        flex: 0 0 40px;
        overflow: auto;
        padding: 8px;
    }
}

.navigation_bar,
.navigation_bar_left_side,
.navigation_bar_right_side {
    display: flex;
    align-items: center;

    width: 100%;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 350px) {
        flex-direction: column;
    }
}

.navigation_bar {
    justify-content: space-between;
}

.navigation_bar_left_side {
    justify-content: flex-start;
}

.navigation_bar_right_side {
    justify-content: flex-end;
}

.navigation_bar_list_item {
    list-style: none;
    text-align: center;
    padding: 0 15px;

    @media screen and (max-width: 350px) {
        padding: 2px 0;
    }
}

.grid {
    display: grid;
    position: relative;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
}

.grid-navbar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

.grid-main {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.grid-sidebar {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.grid-map {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.sidebar {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

a {
    text-decoration: none;
    color: #404040;
}
