html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 64px calc(100vh - 64px);
}

header {
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    align-self: stretch;

    border-style: solid;
    border-width: 2px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    align-self: stretch;

    border-style: none solid solid solid;
    border-width: 2px;
}

form {
    display: grid;
    align-self: center;
    margin: 0 auto;

    input {
        margin-bottom: 10px;
    }
}

table {
    align-self: start;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #404040;
}

.navbar {
    display: grid;
    align-self: stretch;
    grid-template-columns: 1fr min-content;

    background-color: white;
    padding: 0;
}

.navbar-left-side {
    display: grid;
    align-items: center;
    margin: 0 auto 0 0;
    padding: 0;
}

.navbar-right-side {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0;
}

.navbar-item {
    list-style: none;
    text-align: center;
    padding: 0 15px;
}

.map {
    display: grid;
    position: relative;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;

    z-index: 1;

    #zoom {
        z-index: 2;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    #features {
        z-index: 2;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        width: 25%;
        overflow: auto;
        background: rgba(255, 255, 255, 0.2);
    }
}

.map-sidebar {
    grid-column: 1 / span 1;
    border-style: none solid none none;
    border-width: 2px;

    overflow-x: hidden;
    overflow-y: scroll;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.map-map {
    grid-column: 2 / span 1;
}

.user-profile {
    display: grid;
    align-self: center;
    margin: 0 auto;
}
