{{define "base"}}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/metla-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/metla-16.png">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <script src="/assets/js/third_party/htmx.js"></script>
        <script src="/assets/js/third_party/_hyperscript.js"></script>

        <title>{{template "title" .}}</title>
    </head>

    <body>
        {{template "main" .}}
    </body>
</html>

<a href="/">Back home</a>
{{end}}
