{{define "base"}}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/metla-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/metla-16.png">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <script src="/assets/js/third_party/htmx.js"></script>
        <script src="/assets/js/third_party/_hyperscript.js"></script>

        <title>{{template "title" .}}</title>
    </head>

    <body>
        <header class="grid-navbar header">
            <nav class="navigation_bar">
                <ul class="navigation_bar_left_side">
                    <li class="navigation_bar_list_item">
                        <a href="/" class="left">Metla</a>
                    </li>
                </ul>
                <ul class="navigation_bar_right_side">
                    {{if .IsAuthenticated}}
                        <li class="navigation_bar_list_item">
                            <a href="/user">Profile</a>
                        </li>
                        {{if .IsAdmin}}
                            <li class="navigation_bar_list_item">
                                <a href="/userstable">Users</a>
                            </li>
                        {{end}}
                        <li class="navigation_bar_list_item">
                            <a href="/logout">Logout</a>
                        </li>
                    {{else}}
                        <li class="navigation_bar_list_item">
                            <a href="/register">Register</a>
                        </li>
                        <li class="navigation_bar_list_item">
                            <a href="/login">Login</a>
                        </li>
                    {{end}}
                </ul>
            </nav>
        </header>

        <main class="grid-main fullsize">
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}
